<body [@fadeIn]>
    <div class="card text-center mt-lg-5 usuario">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="true"  routerLink="/hotel" routerLinkActivate="active">Hotel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/room" routerLinkActivate="active">Habitaciones</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/event" routerLinkActivate="active">Eventos</a>
            </li>
          </ul>
        </div>
        <p class="h2 mt-3 mb-3 text-decoration-underline">Eventos</p>
        <div class="card-body" *ngFor="let event of events">
          <div class="card mb-3 row-cols-1 bloqueInfo" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img class="mt-3 my-5" width="135" height="135" src="../../../assets/img/evento.png" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{event.tipoEvento}}</h5>
                    <p class="card-text mt-1">{{event.descripcion}}</p>
                    <p class="card-text"><small class="text-muted">{{event.fecha}} | {{event.horario}}</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</body>
