.usuario{
    margin-left: 150px;
    margin-right: 150px;
}

.botonEliminar{
    margin-right: 25px;
    margin-left: 25px;
}

.tarjetaTitulo{
    width: 450px;
}

.bloqueInfo{
    display: inline-block;
    margin: 30px !important;
    width: 350px;
    height: 205px;
}

#idReservation{
    visibility: hidden;
    display: none;
}