<body [@fadeIn]>
    <div class="card text-center mt-lg-5 usuario">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="true"  routerLink="/user" routerLinkActivate="active">Cuenta</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active"  routerLink='/list-reservation' routerLinkActivate="active">Historial</a>
            </li>
          </ul>
        </div>
        <p class="h2 mt-3 mb-3 text-decoration-underline">Historial</p>
        <div class="card-body ms-auto me-auto" *ngFor="let history of historys; let indice=index">
          <div class="card mb-3 row-cols-1 bloqueInfo" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <img class="mt-3 my-5" width="135" height="135" src="../../../assets/img/evento.png" alt="...">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">Reservacion No. {{indice}}</h5>
                    <p class="card-text"><small class="text-muted">{{history.fechaIngreso}} | {{history.fechaSalida}}</small></p>
                    <label id="idReservation">{{history._id}}</label>
                    <button type="button" class="btn btn-primary botonAdminApp" (click)="seeReservation(history)">more details</button>
                  </div>
                </div>
              </div>
            </div>
      </div>
    </div>
</body>