<body [@fadeIn]>
    <div class="card text-center mt-5 usuario">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link" routerLink="/list-hotel-admin" routerLinkActivate="active">Home</a>
              </li>
          </ul>
          
        </div>
        <p class="h2 mt-3 mb-3 text-decoration-underline" >Hoteles</p>
        <div class="card-body" *ngFor="let reservation of reservations; let indice = index">
            <div class="card mb-3 row-cols-1 bloqueInfo" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img class="mt-3 my-5" width="135" height="135" src="../../../assets/img/reservacion.png" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Reservacion No. {{indice}}</h5>
                      <p class="card-text"><small class="text-muted">{{reservation.fechaIngreso}} | {{reservation.fechaSalida}}</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      </div>
</body>